.select-currency {
  display: block;
  margin-top: 1.25rem;
  padding: 1rem 0.75rem;
  width: 100%;
  height: 2.8rem;
  font-size: 1rem;
  font-weight: 200;
  border: 16px solid darkcyan;
  background: darkcyan;
  color: white;
}

.select-currency:focus {
  outline: 1px solid darkcyan;
  box-shadow: 0 0 6px darkcyan;
}
